h1{
    color: cornsilk;
    text-align: center;
    background-color: rgb(63, 63, 63) ;
}

body{
    background-color: rgb(5, 5, 5);
    color: honeydew;
}

p{
    font-size: 20px;
}
#missao{
    color: brown; 
    text-align: center;  
}

em strong {
          text-align:center;       
}




