

body{
    
}

#banner {
    width: 100%;
    height: 300px;    
    margin: 1px;
    background-color: linen;
}

.principal {
    background-color: rgb(5, 5, 5);
    color: honeydew;
    padding: 40px;
}

h1{

    color: cornsilk;
    text-align: center;
    background-color: rgb(63, 63, 63) ;
}

p{
    font-size: 20px;
}

#missao{
    color: brown; 
    text-align: center;  
}

em strong {
    text-align:center;       
}

.itens {
    display: inline-table;
    font-style: italic;
    font-size: 20px; 
}

.beneficios {
    background:black;
    color:white;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 250px;
    margin-right: 15%;
    
        
}



.profissionais {
   
    width: 800px;
    height: 300px; 
}





