
body  {
        font-size:20px;
        background-color: rgb(216, 216, 205);
        font-family: 'Courier New', Courier, monospace;
        margin: 20px;
      }    
        
main h1{
    font-size:40px;
    color: azure;
    background-color: rgb(82, 17, 143);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    border-bottom: 10px solid black;
        }

main div {
            width: 1080px;
            
        }


 h2{
    font-size:25px;
    background-color: rgb(107, 119, 90);
    font-family: "Open Sans Condensed";
    line-height: 25px;
    border: 5px ridge rgb(80, 82, 78);
    padding: 5px;
        }               

p {        
   text-align: justify;
   margin: 20px;
   
  }

cite{
    background-color: rgb(80, 4, 104);
    }

blockquote {
        background-color: #D9E5E3;
        padding: 16px;
        border: 10px solid #C2CCCA;
        border-bottom-color: #333;
        border-right-color: #FFF;
        margin: 0px;
        width :  250px;
        box-sizing: border-box;
           }

footer {
    width: 450px;
    height:10px;
    background-color:  rgb(3, 5, 5);
    margin: 1px;
    color: #FFF;
    padding: 15px;
    border: 5px ridge #CCC;
       }

aside {

    background-color: rgb(82, 17, 143);
    color: seashell;
    text-align: center;
    padding: 20px;

}       

#redesSociais li{
        display: inline-block;
}

nav a{
     color: #F2FFFC;
     text-decoration: none;
     }

ul {
        color: red;
        margin: 50px;
        list-style-type: circle;
       
}
    
ul li a {
        color: rgb(255, 255, 255) ;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 5px;
        line-height: 25px;
             
        
        } 
    
a   {
        color: rgb(160, 158, 110);
    }    


div {
    border-left: 30px solid rgb(7, 7, 7);
    border-bottom: 30px solid rgb(48, 46, 46);
    margin: 5px;
    
    }

